139yun:
  token: '' #移动云盘Authorization 可参考Alist文档进行抓包
  phone: '' #手机号 用于获取ssoToken
  upload_dirid: '' #上传文件时文件夹id
  AccountType: 1 #账号类型 1=新个人云 0=个人云 可参考Alist文档进行判断
share:
  enable: false #是否开启完成分享文件任务功能
  filename: '' #分享时使用的文件名，需要放置在上传文件时文件夹目录内
upload:
  enable: false #是否开启完成上传任务功能
  
  